*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  max-width: 1280px;
  width: 100vw;
  
  display: flex;
  justify-content: center;
  padding: 2rem;
   min-height: 100vh;
}
body{
  background-color: #E8E9E8;
}



